@charset "UTF-8";

body{margin: 0;}
a,p,span,div,h1,h2,h3,h4,h5,h6,label,ul,li{text-decoration: none;;color:#555;list-style: none}
.head{width:100%;height:90px;background-color: #aaa; padding-top: 30px; box-sizing: border-box;}
.head ul{width: 80%; display: block; margin: 0 auto;}
.head ul li{display: inline-block;     width: 100px;}

.content {position: relative;}
.leftmenubtn{position: fixed; width: 50px; height: 50px; top: 30%; background: blue; cursor: pointer;}
.leftmenubox{position: fixed; width: 300px; height: 550px; top: 20%; background: blue;  display: none;}
.menu_x{width: 50px; height: 50px; border: 1px solid #111; text-align: center; padding: 5px;font-size:26px ;box-sizing: border-box; cursor:pointer;right: 0;position: absolute;}
.foot{width: 100%; background-color: #aaa; height: 120px;}

.startdiv {width: 1100px; margin: 0 auto; padding: 10px;}




/* 렌탈list css */
.selectbox{padding: 10px; border: 1px solid blue;}
.check_c{width: 100px;display: inline-block;}
.goodsbox_h{ display: table; width: 100%}
.goodsbox_h p {color:#999; font-size: 12px; margin: 0; margin-top: 11px;}
.goods_countbox{float: left;}
.goods_select{float: right;     margin: 10px;}
.goodsbox{display:table; margin-top: 40px;}
.goods{ width: 240px; height: 350px; float: left;margin: 5px 15px;}
.goods p {margin: 0}
.goods .goods_img{height: 250px;background: #333;}
.goods .goods_title{margin: 5px 0;color: #888;font-weight: 700;font-size: 14;}
.goods .goods_content{color: #777;font-size: 14px;}
.goods .goods_price{font-size: 16px;color: #cd1965;font-weight: bold;font-family: 'Spoqa Han Sans';
    letter-spacing: 0; margin-top: 4px;}


/* 렌탈detail css */

.detail_head .category {font-size: 12px; color: #888; margin: 0;}
.detail_head .goods_title{font-size: 32px; color:#333;}
.detail_body .top_box{display: table;}
.detail_body .top_box .goods_img{width: 300px; height: 400px; background: #333; float: left;} 
.detail_body .top_box .goods_priceinfo{width: 500px; float: left; border: 1px solid #333;}
.detail_body .goods_info{width: 100%; height: 1000px; border: 1px solid #333;}

.option_box{width: 240px; height: 300px; border: 1px solid #333; float: left; position: relative;}
.option_box .option{position: absolute;}
.scrollfixed{position: fixed !important; top:0;}
















    